.brandName__text {
	font-size: 3rem;
}
.brandName__text:hover {
	color: #f57c00;
}
#navbar {
	background-color: black;
	color: white;
	display: flex;
	flex-direction: row;
	height: 180px;
	width: 100%;
}

#navbar:hover {
	background-color: rgba(0, 0, 0, 0.904);
	height: 200px;
}
.navbar-2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#navbar__allproducts {
	color: white;
	text-decoration: none;
}

.navbar__icons,
.navbar__categories {
	display: flex;
	justify-content: space-around;
}
.brandName,
.navbar__btn--logout,
.navbar__btn--login,
.navbar__btn--signup {
	text-align: center;
	flex-direction: row;
	color: white;
}
.navbar__btn--login:hover,
.navbar__btn--signup:hover,
.navbar__btn--logout:hover {
	color: #fb8c00;
}
.navbar__btn--loginAndSignup {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.navbar__icons,
.brandName,
.navbar__btn--logout,
.navbar__btn--login,
.navbar__btn--signup {
	margin-top: 50px;
}

.navbar__categories {
	margin-top: 1rem;
}

#navbar__allproducts:hover,
.navbar__inforAuthor > a:hover {
	color: #fb8c00;
}

.navbar__inforAuthor {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.navbar__inforAuthor > a {
	text-decoration: none;
	color: white;
	margin-top: 15%;
}

.navbar__icons--bag,
.navbar__icons--account,
.navbar__icons--favorite {
	color: white;
}
