/* TODO Add site wide styles */
html,
body {
	cursor: pointer;
	margin: 0;
	color: #757575;
	width: 100vw;
}
.fluid {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	font-family: Arial;
	line-height: 1.3;
	font-size: 16px;
}

.fluid__detail {
	flex: 0 0 auto;
	margin: 20px 20px;
	height: 500px;
	width: 200px;
}

@media (min-width: 480px) {
	.fluid {
		flex-direction: row;
	}

	.fluid__image-container {
		flex: 0 0 35%;
		margin: 20px 0 20px 20px;
	}

	.fluid__detail {
		flex: 0 0 35%;
		padding-top: 30px;
	}
}

.enlargeImage {
	margin: 10px 0;
	color: black;
}

.enlargeImage:hover {
	margin: 10px 0;
	color: #00695c;
}

/* Nav */
#navbar {
	background-color: black;
	color: white;
	display: flex;
	flex-direction: row;
	height: 180px;
	width: 100%;
}

#navbar:hover {
	background-color: rgba(0, 0, 0, 0.904);
	height: 200px;
}
#navbar__all-products {
	color: white;
	text-decoration: none;
}

.brandName_text {
	font-size: 3rem;
}

.navbar-icons,
.navbar--categories {
	display: flex;
	justify-content: space-around;
}
.navbar-2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.brandName,
.navbar--logout-btn,
.navbar--login-btn,
.navbar--signup-btn {
	text-align: center;
	flex-direction: row;
}

.navbar-icons,
.brandName,
.navbar--logout-btn,
.navbar--login-btn {
	margin-top: 50px;
}

.navbar--categories {
	margin-top: 1rem;
}
.navbar--signup-btn {
	margin-top: 1rem;
}

/* Modal */
.navbar--modal {
	display: flex;
	flex-direction: row;
}

.textModal {
	color: #424242;
	text-decoration: none !important;
}
.textModal:hover {
	color: white;
	text-decoration: none;
}

.shopNow_button {
	position: absolute;
	top: 50%;
	left: 50%;
}
/* *** Login Page */
.login_page,
.signup_page {
	background: url("https://images.pexels.com/photos/459486/pexels-photo-459486.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
		no-repeat center;

	background-size: cover;
	height: 100vh;
	color: white;
}

.login-form,
.sign-up-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	flex-wrap: wrap;
	height: 100%;
	width: 30%;
	align-items: center;
	background-color: #eeeeee;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	border: 1px solid #9e9e9e;
	background-image: url("https://images.pexels.com/photos/809433/pexels-photo-809433.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	opacity: 0.8;

	background-repeat: no-repeat;

	background-size: cover;
}

.in-form-field,
.btn_login,
.sign-up-button {
	color: #757575;
	height: 40px;
	width: 80%;
	border-radius: 10px;
	line-height: 1rem;
	margin-bottom: 10px;
	border: "1px solid transparent";
	text-align: center;
}
.btn_login,
.sign-up-button {
	width: 40%;
}
/* Cursor */
.cursor {
	position: fixed;
	width: 50px;
	height: 50px;
	border: 1px solid #c6c6c6;
	border-radius: 50%;
	pointer-events: none;
	left: 0;
	top: 0;
	transform: translate(-50%, -50%);
	transform: 0.1s;
}

.cursor2 {
	position: fixed;
	width: 10px;
	height: 10px;
	background-color: #c6c6c6;
	border-radius: 50%;
	pointer-events: none;
	left: 0;
	top: 0;
	transform: translate(-50%, -50%);
	transform: 0.2s;
}

/* Filter by Size */

.filterBar,
.filBySize {
	display: flex;
	flex-direction: row;
}

.filByPrice {
	margin-left: 10%;
}
.filterSize {
	margin-right: 10px;
	background-color: lightgrey;
	width: 50px;
	height: 50px;
	border: 1px solid lightgray;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	margin-bottom: 5px;
}
#filByPrice {
	width: auto;
	height: 30px;
	border: none;
	color: #757575;
}

.paginationBox,
.pageText {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 20%;
	margin-top: 10px;
}
.pagination {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.pageItem {
	padding: 25%;
}

/* Checkout */
.checkoutBox {
	width: 40%;
	margin-top: 5%;
	margin-left: 50%;
	border: 1px solid#757575;
	padding: 20;
	line-height: 2rem;
}
/* .thankyou {
	background-image: url("https://res.cloudinary.com/maivw/image/upload/v1600371018/Lamode/Copy_of_thank_you_for_shopping_message_card_-_Made_with_PosterMyWall_ah3u5z.jpg");
} */
